:root {
  --sage: #809ba6;
  --storm: #3c515a;
  --pyrite: #fbb03b;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-deco,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rokkitt", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

img {
  width: 100%;
}

.bg-sage {
  background-color: var(--sage);
}

.bg-storm {
  background-color: var(--storm);
}

.bg-pyrite {
  background-color: var(--pyrite);
}

.sage {
  color: var(--sage);
}

.storm {
  color: var(--storm);
}

.pyrite {
  color: var(--pyrite);
}

.hero-img {
  height: 75dvh;
  background-size: cover;
  background-position: bottom;
  background-image: url(assets/maksymilian-sleziak-kZKtXy2Flko-unsplash.jpg);
}

.main-tagline {
  border-left: 10px solid var(--pyrite);
}

.reviews {
  border-top: 6px solid var(--pyrite);
}

.containing-block {
  position: relative;
  min-height: 10vh;
  border: 10px solid blue;
  padding: 0;
}

.floating-card {
  position: absolute;
  width: 75%;
  border: 10px solid red;
  top: 1vh;
}

.floating-card-offset {
  border: 10px solid greenyellow;
}